* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.navbar {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#ffffff;

    position: fixed;     
    top: 0;
    left: 0;
    z-index: 2;

    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
nav a:active{
    color: red;
}
header{
    overflow: visible;
}
.mobile-menu {

  display: none ;

  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  background:black;
  flex-direction: column;
  padding: 20px;
  z-index: 9999;
  color: white;
 
}

.mobile-menu a {
  color: white;
  text-decoration: none;
  padding: 12px 0;
  border-bottom: 1px solid #333;
}
.search-container {
    position: relative;
}
#searchIcons {
    position: absolute;
    top: 10px;
    right: 250px;
}

#searchIcon {
    font-size: 23px;
    cursor: pointer;

}
.input-search{

    
}

.search-bar {
    width: 730px;
    position: absolute;
    background-color:#e4e2e2;
    top: 5px;
    right: 190px;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid black;
   
}

.search-bar input {
    width: 95%;
    padding: 10px;
    border: none;
    background-color: #e4e2e2;

    font-size: 18px;
}




.logo {
    font-size: 32px;
    font-weight: 700;
    color: #800080;
    margin-left: 83px;
    
}
nav{
    margin-left:84px ;
}
nav ul{
    display: flex;
}
nav ul li{
  list-style: none;
}

nav a {
    margin: 0 42px;
    text-decoration: none;
    color: #444;
    font-size: 18px;

}
.icons{
    margin-right: 73px;
}

.icons i {
    margin-left: 15px;
    font-size: 18px;
    color: black;
    cursor: pointer;
    
}

.menu-icon {
    font-size: 28px;
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    position: relative;
    z-index: 2000;
}
.side-menu i{
    font-size: 15px;
    color: #8c8b8b;

}


.side-menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 35vh;
    background: #111;
    padding-top: 60px;
   
    z-index: 1500;
}

.side-menu a {
    display: block;
    color:rgb(103, 103, 103);
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    border: solid 2px rgb(133, 132, 132);
    margin: 12px 15px;
}


#menuToggle:checked ~ .side-menu {
    right: 0;
    background-color:rgb(254, 253, 253);
    color: black;
   width:250px ;
}


.over {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vh;
    
    z-index: 1000;
}


#menuToggle:checked ~ .over {
    display: block;
}


.hero {
    background-color: black;
    color: white;
    height: 620px;                 /* full screen height */
    display: flex;
    align-items: center;           /* vertical center */
    justify-content: center;       /* horizontal center */
   
    padding: 20px;
    box-sizing: border-box;
}

.hero-content {
    max-width: 800px;
}

.hero h1 {
    font-size: 90px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 22px;
    line-height: 1.7;
}
.watch{
  width: 100%;
  height: 100%;
 font-size: 20px;
 
}
 .store h3{
   font-size: 50px;
   margin-right: 10px;;
}
.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.col{
    flex: 0 0 calc(33.33% - 90px);
    margin-top: 120px;
    margin-bottom: 120px;
    border: 2px solid #000000; 
    height: 321px;
   
  

}

 .col img{
   
    margin-top: 40px;
    margin-left: 60px;
    object-fit: contain;
    justify-content: center;
    text-align: center;
}
.product-button{
    display: flex;
   justify-content: center;
   color: #a24c91;
   margin-top: 130px;
   

}
 .product-price {
   padding-bottom: 100px; 
}
.product-btn{
    padding: 0 ;
}
.product-btn:hover{
    background-color: white;
    color: black;
}
.product-button a{
    background-color:#800080;
    color: #ffffff;
    padding: 12px 25px;
    border-radius: 7px;
    width: 150px;
    text-decoration: none;
}




.col:hover {
  
    transform: translateY(-10px); 
    flex: 0 0 calc(33.33% - 90px);
    margin-top: 131px;
    padding-bottom: 10px;
    border: 1px solid #c5c4c4;
    height: 500px;
    transition: 0.5s ease;   
    overflow: hidden;
    cursor: pointer;
   
}
.hover-buttons {
    position: absolute;
    bottom: 36%;
    left: 47%;
    transform: translate(-50%, -50%);
    display: none;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    
    
}
.hover-buttons .add-cart {
    background-color:white;
    width: 150px;
    padding: 15px;
    border-radius: 8px;
}
.hover-buttons .shop-now{
    background-color:#800080 ;
    color: white;
    width: 150px;
    padding: 15px;
    border-radius: 8px;
}
.shop-now:hover{
    background-color:white;
    color: black;
}

.right-icons {
    position: absolute;
    right: 10px;
    top: 30%;
    display: none;
    flex-direction: column;
    gap: 18px;
   
    
}
.right-icons i{
border:solid 2px rgb(150, 149, 149);
font-size: 25px;
padding: 10px;
}
.hover-buttons,
.right-icons {
    display: none;
}
.col:hover .hover-buttons,
.col:hover .right-icons {
    display: flex;
      
}

.col img {
    margin-top: 4px;
    margin-left: 90px;
   transform: translateY(40px);
    transition: 0.3s ease; 
}

/* image zoom on hover */
.col:hover img {
    transform: translateY(0);
}


.watch{
  width: 100%;
  height: 100%;
  background-color:white;
  
 
}
.watch-sell{
  
   margin-left: 100px;
   padding-top: 50px;
  
}
.row{
  display: flex;
   
  flex-wrap: wrap; 
  gap: 20px;
  justify-content: center;
}
.col{
   flex: 0 0 calc(33.33% - 90px);
    margin-top: 120px;
    border: 2px solid #d7d7d7; 
    height: 320px;
  

}
 .col img{
    margin-top: 80px;
    object-fit: contain;
}
.features-row {
  display: flex;
  width: 100%;
   

}

.features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 140px 50px;
    background-color: #ffffff;
    
}

.feature-box {
    width: 22%;
}

.feature-box i {
    font-size: 90px;
    color: #555;
    margin-bottom: 15px;
}

.feature-box h3 {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight:500;
    color: #333;
}

.feature-box p {
    font-size: 15px;
    color: #464545;
    line-height: 1.6;
    font-size: 20px;
   display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow:hidden;
}
.footer {
    background: #050505;
    color: #fff;
    padding: 100px 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.footer-logo h2 {
    font-size: 38px;
    font-weight: 600;
    color: #8e3996;
    background-color: white;
    width: 198px;
    margin-bottom: 30px;
    padding: 12px 30px;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.footer-col {
    flex: 1;
    
    
}

.footer-col h3 {
    margin-bottom: 15px;
    font-size: 28px;
    font-weight: 600;

}

.footer-col ul li {
    list-style: none;
    margin-bottom: 18px;
    font-size: 20px;
}


.footer-col ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
    
}

.footer-col ul li a:hover {
    color: #6a3f3f;
}
.vertical-line {
    width: 1px;          
    height: 100px;       
    background: #585858;    
}
.footer-col p {
    color: #ffffff;
    margin-bottom: 12px;
    line-height: 1.5;
    font-size: 20px;
}

.social-icons a {
    margin-right: 12px;
    font-size: 20px;
    color: #ccc;
    border: 1px solid #800080;
    padding: 5px;
    
}

.social-icons a:hover {
    color: #fff;
}

.newsletter {
    display: flex;
    margin-top: 10px;
    border: 1px solid #800080; 
}

.newsletter input {
    padding: 10px;
    width: 65%;
    border: none;
    outline: none;
   
    background-color: black;
}

.newsletter button {
    padding: 10px 20px;
    background: #800080;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}
@media (max-width: 1488px){
 #menuToggle:checked ~ .side-menu {
    right: 0;
    background-color:white;
    color: black;
   width:250px ;
   height: 60vh;
 }  
}
@media (max-width: 1232px){
  .icons i{
   
    font-size: 18px;
  
  }
  .input-search{
    font-size: 12px;
  }
 nav a{
  font-size: 18px;
  margin: 0 22px;
 }


  .navbar {
    padding: 30px 10px;
  }
  .logo {
    margin-left: 0;
    font-size: 20px;
  }


.col {
    align-items: center;
  }

  .col img {
    margin-left: 30px;
  }
}

@media (max-width: 1332px){
  
.col {
    align-items: center;
  }

  .col img {
    margin-left: 30px;
  }
}
@media (max-width: 1151px){
.row .col {
        flex: 0 0 calc(33.33% - 40px);
        height: auto;
        padding-bottom: 20px;
    }

    .col img {
        margin-left: 0;
        display: block;
        margin: 50px auto 20px;
        width: 150px;
    }
}






@media (max-width: 1024px) {

    .navbar {
        padding: 30px 10px;
    }

  

    .hero {
        padding: 180px 40px;
    }

    .hero h1 {
        font-size: 40px;
    }

    .row .col {
        flex: 0 0 calc(33.33% - 40px);
        height: auto;
        padding-bottom: 20px;
    }

    .col img {
        margin-left: 0;
        display: block;
        margin: 50px auto 20px;
        width: 150px;
    }

    .feature-box {
        width: 30%;
        text-align: center;
    }
      .search-bar{
    width: 500px;
  }

}
@media (max-width: 936px) {
.icons i{
   font-size: 18px;
 
  }
  .input-search{
    font-size: 12px;
  }
 nav a{
  font-size: 18px;
   margin: 0 22px;
 }
 
nav{
  margin-left: 30px;
}

  .navbar {
    padding: 30px 5px;
  }
  .logo {
    margin-left: 10px;
    font-size: 20px;
  }
}
@media (max-width: 855px) {
  .navbar{
      padding: 30px 1px;
  }
  
    nav {
       margin-left: 2px;
    }
    .icons{
      margin-right:20px;
    }
  }

@media (max-width: 768px) {
     .nav-links,
 
  .fa-user,
  
  .side-menu {
    display: none;
  }
 header{
    overflow: visible;
 }
  .menu-icon {
    display: block;
    cursor: pointer;
    font-size: 22px;
  }

  /* hidden by default */
  .mobile-menu {
    
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background: black;
    flex-direction: column;
    z-index: 99999;
   
  }

  .mobile-menu a {
    color: white;
    padding: 15px;
    text-decoration: none;
    border-bottom: 1px solid #333;
    text-align:center ;
  }

  /* visible when JS adds class */
  .mobile-menu.show {
    display: flex;
  }
    .navbar {
        padding: 30px 20px;
    }
    nav{
        display: none;
    }
    .logo {
        margin-left: 0;
        font-size: 26px;
    }

    .hero {
        padding: 150px 25px;
    }

    .hero h1 {
        font-size: 34px;
    }

    .hero p {
        font-size: 16px;
    }

    .row .col {
        flex: 0 0 calc(50% - 30px);
        height: auto;
    }

    .col img {
        width: 130px;
        margin-top: 40px;
    }

    .feature-box {
        width: 45%;
        margin-bottom: 40px;
    }

    .features {
        flex-wrap: wrap;
        gap: 20px;
    }

     .footer-row {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .newsletter {
        flex-direction: column;
    }

    .newsletter input {
        width: 100%;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .newsletter button {
        width: 100%;
        border-radius: 5px;
    }
    .vertical-line{
        display: none;
    }


#searchIcon {
    display: inline-block;
    font-size: 22px;
    margin-right: 15px;
  }





.icons {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  /* Search container positioning */
  .search-container {
    position: absolute;
    left: 10px;
    top: 25%;
    width: 100%;
    padding: 5px;
   
    transition: left 0.35s ease;
    z-index: 3000;
  }

  .search-container.active {
    left: 140px;
    
  }

  .search-bar {
    position: absolute;
    width: 130px;
    background: transparent;
    padding: 0;
    border: none;
 
  }
  .input-search {
    width: 100%;
    padding: 10px 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
  }



}



@media (max-width: 480px) {

    .navbar {
        padding: 10px 15px;
    }

    .logo {
        font-size: 20px;
    }

    .menu-icon {
        font-size: 24px;
    }

    .hero {
        padding: 120px 20px;
    }

    .hero h1 {
        font-size: 28px;
    }

    .hero p {
        font-size: 14px;
    }

    .row .col {
        flex: 0 0 100%;
        height: auto;
    }

    .col img {
        width: 120px;
    }

    .watch-sell,
    .store h3 {
        text-align: center;
        margin-left: 0;
        font-size: 30px;
    }

    .feature-box {
        width: 100%;
        text-align: center;
    }

    .features {
        padding: 60px 0;
        flex-direction: column;
        gap: 40px;
    }

    .footer-logo h2 {
        font-size: 28px;
    }

    .footer-col {
        flex: 100%;
    }
}




@media (max-width: 320px) {

    .navbar {
        padding: 30px 0;
    }

    

    .hero {
        padding: 110px 15px;
    }

    .hero h1 {
        font-size: 24px;
    }

    .row .col {
        flex: 0 0 100%;
    }

    .col img {
        width: 100px;
    }

    .feature-box h3 {
        font-size: 18px;
    }

    .newsletter input,
    .newsletter button {
        font-size: 14px;
    }

    .footer-col h3 {
        font-size: 18px;
    }

     .vertical-line{
        display: none;
     }
.icons i{
    font-size:20px ;
        
    }

}
