*{
    margin :0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#ffffff;

    position: fixed;     
    top: 0;
    left: 0;
    z-index: 2;

    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
nav a:active{
    color: red;
    font-weight: 600;
}
header{
    overflow: visible;
}
.mobile-menu {

  display: none ;

  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  background:black;
  flex-direction: column;
  padding: 20px;
  z-index: 9999;
  color: white;
 
}

.mobile-menu a {
  color: white;
  text-decoration: none;
  padding: 12px 0;
  border-bottom: 1px solid #333;
}
.search-container {
    position: relative;
}
#searchIcons {
    position: absolute;
    top: 10px;
    right: 250px;
}

#searchIcon {
    font-size: 23px;
    cursor: pointer;

}
.input-search{

    
}

.search-bar {
    width: 730px;
    position: absolute;
    background-color:#e4e2e2;
    top: 5px;
    right: 190px;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid black;
   
}

.search-bar input {
    width: 95%;
    padding: 10px;
    border: none;
    background-color: #e4e2e2;

    font-size: 18px;
}




.logo {
    font-size: 32px;
    font-weight: 700;
    color: #800080;
    margin-left: 83px;
    
}
nav{
    margin-left:84px ;
}
nav ul{
    display: flex;
}
nav ul li{
  list-style: none;
}
nav  a {
    margin: 0 42px;
    text-decoration: none;
    color: #444;
    font-size: 18px;

}
.icons{
    margin-right: 73px;
}

.icons i {
    margin-left: 15px;
    font-size: 18px;
    color: black;
    cursor: pointer;
    
}

.menu-icon {
    font-size: 28px;
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    position: relative;
    z-index: 2000;
}
.side-menu i{
    font-size: 15px;
    color: #8c8b8b;

}


.side-menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 35vh;
    background: #111;
    padding-top: 60px;
   
    z-index: 1500;
}

.side-menu a {
    display: block;
    color:rgb(103, 103, 103);
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    border: solid 2px rgb(133, 132, 132);
    margin: 12px 15px;
}


#menuToggle:checked ~ .side-menu {
    right: 0;
    background-color:rgb(254, 253, 253);
    color: black;
   width:250px ;
}


.over {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vh;
   
    z-index: 2000;
}


#menuToggle:checked ~ .over {
    display: block;
}


.hero {
    width: 100%;
    height: 800px;
    background-image: url('../home/images/close-up-clock-with-time-change\ \(1\)\ 1.png');
    background-size: cover;
    background-position: center right;
    display: flex;
    align-items: center;
    padding-left: 80px;
    position: relative;
    
}


.hero::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 60%;
    background: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0));
}

.hero-content {
    position: relative;     
    z-index: 1;
    color: white;
    max-width: 650px;
    margin-left: 30px;

}
.hero-content .hero-subtitle {
    font-size: 20px;
    color: white;
    
}


.hero-subtitle {
    font-size: 16px;
    opacity: 0.85;
    margin-bottom: 15px;
}

.hero-title {

    font-weight: 600;

    margin-bottom: 30px;
    font-size: 58px;
}


.hero-btn {
    background: #800080;
    width: 150px;
    height: 44px;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 6px;
    display: inline-block;
    font-size: 20px;
    transition: 0.3s;
    text-align: center;
}

.hero-btn:hover {
    background: white;
    color: black;
}

.watch{
  width: 100%;
  height: 100%;
 font-size: 20px;
 
}
 .store h3{
   font-size: 50px;
   margin-right: 10px;;
}
.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.col{
    flex: 0 0 calc(33.33% - 90px);
    margin-top: 120px;
    margin-bottom: 120px;
    border: 2px solid #000000; 
    height: 321px;
   
  

}

 .col img{
   
    margin-top: 40px;
    margin-left: 60px;
    object-fit: contain;
    justify-content: center;
    text-align: center;
}
.product-button{
    display: flex;
   justify-content: center;
   color: #a24c91;
   margin-top: 130px;
   

}
 .product-price {
   padding-bottom: 100px; 
}
.product-btn{
    padding: 0 ;
}
.product-btn:hover{
    background-color: white;
    color: black;
}
.product-button a{
    background-color:#800080;
    color: #ffffff;
    padding: 12px 25px;
    border-radius: 7px;
    width: 150px;
    text-decoration: none;
}




.col:hover {
  
    transform: translateY(-10px); 
    flex: 0 0 calc(33.33% - 90px);
    margin-top: 131px;
    padding-bottom: 10px;
    border: 1px solid #c5c4c4;
    height: 480px;
    transition: 0.5s ease;   
    overflow: hidden;
    cursor: pointer;
   
}
.hover-buttons {
    position: absolute;
    bottom: 36%;
    left: 47%;
    transform: translate(-50%, -50%);
    display: none;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    
    
}
.hover-buttons .add-cart {
    background-color:white;
    width: 150px;
    padding: 15px;
    border-radius: 8px;
}
.hover-buttons .shop-now{
    background-color:#800080 ;
    color: white;
    width: 150px;
    padding: 15px;
    border-radius: 8px;
}
.shop-now:hover{
    background-color:white;
    color: black;
}

.right-icons {
    position: absolute;
    right: 10px;
    top: 30%;
    display: none;
    flex-direction: column;
    gap: 18px;
   
    
}
.right-icons i{
border:solid 2px rgb(150, 149, 149);
font-size: 25px;
padding: 10px;
}
.hover-buttons,
.right-icons {
    display: none;
}
.col:hover .hover-buttons,
.col:hover .right-icons {
    display: flex;
      
}

.col img {
    margin-top: 4px;
    margin-left: 90px;
   transform: translateY(40px);
    transition: 0.3s ease; 
}

/* image zoom on hover */
.col:hover img {
    transform: translateY(0);
}
.container-discount {
    width: 100%;
    background: radial-gradient(circle at left, black, #000);
    padding: 40px 20px;
    margin-top: 80px;
}

.watch-discount {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.slide {
    position: relative;
    width: 380px;
    height: 380px;
}

.slide img {
    position: absolute;  
    top: 0;
    left: 0;

    width: 380px;
    max-width: 100%;
    padding: 20px;

    opacity: 0;
    animation: fade 4s infinite;
}

.slide img.one {
    animation-delay: 1s;
    background-color: black;
 
}

.slide img.two {
    animation-delay: 3s;
    background-color: black;
}

@keyframes fade {
    0% { opacity: 0; }
    10% { opacity: 1; }
    40% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}

.discount-offer {
    color: #ffffff;
    max-width: 500px;
}

.discount-offer h1 {
    font-size: 75px;
    font-weight: 700;
    margin-bottom: 10px;
}

.discount-offer p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 55px;
    color: #ffffff;
    letter-spacing: 1px;
}


.discount-offer .offer-btn {
    background: #800080;
    color: #ffffff;
    border: none;
    padding: 12px 28px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.discount-offer .offer-btn:hover {
    transform: translateY(-2px);
   
}
.discount-offer a{
    text-decoration: none;
}



    
    

.watch{
  width: 100%;
  height: 100%;
  background-color:#ffffff;
 
}
.store{
   
   margin-top: 70px;
   margin-left: 100px;
}
.row{
  display: flex;
   
  flex-wrap: wrap; 
  gap: 20px;
  justify-content: center;
}
.col{
     flex: 0 0 calc(33.33% - 90px);
    margin-top: 120px;
    border: 2px solid #e9e7e7; 
    height: 321px;
    
  

}
 .col img{
    margin-top: 46px;
    object-fit: contain;
}

.section-container {
    
    width: 100%;
    height: 100%;
    
}
.card-container{
    display: flex;
    margin-top: 100px;
  justify-content: center;
}


.card-desk {
    display: flex;

   width: 88%;
  justify-content: space-around;
  
  
   

    

   
}

.card {
    background-color: #ffffff;
    width: 30%;
    height: 535px;
    overflow: hidden;
    border: 1px solid #adaaaa;
    display: flex;
    flex-direction: column;


   
}

.card img {
    width: 100%;
    height: 335px;
    background: #aaa;
    object-fit: cover;
}

.card-body {
    padding: 20px;
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.card-body p {
    color: #444;
    margin-bottom: 20px;
    line-height: 1.5;
    letter-spacing: 2px;
    
}
.review-box {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 0;
}

.review-box img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.review-info h3 {
    font-size: 17px;
    font-weight: 200;
    margin-bottom: 8px;
    font-family:serif;
   
}


.rating {
    display: flex;
    align-items: center;
    gap: 10px;
}

.rate-number {
    font-size: 26px;
    font-family: Georgia, serif;
    font-weight: 500;
}
.stars .style{
    color: rgb(231, 227, 227);
}

.stars i {
    color: #d4a017;   
    font-size: 24px;
    margin-right: 3px;
}
/*.payment-container{
  margin-top: 100px; 
  margin-bottom: 100px; 
}*/

.features-row {
  display: flex;
  width: 100%;
   

}

.features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 140px 50px;
    background-color: #ffffff;
    
}

.feature-box {
    width: 22%;
}

.feature-box i {
    font-size: 90px;
    color: #555;
    margin-bottom: 15px;
}

.feature-box h3 {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight:500;
    color: #333;
}

.feature-box p {
    font-size: 15px;
    color: #464545;
    line-height: 1.6;
    font-size: 20px;
   display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow:hidden;
}
.footer {
    background: #050505;
    color: #fff;
    padding: 100px 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.footer-logo h2 {
    font-size: 38px;
    font-weight: 600;
    color: #8e3996;
    background-color: white;
    width: 198px;
    margin-bottom: 30px;
    padding: 12px 30px;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.footer-col {
    flex: 1;
    
    
}

.footer-col h3 {
    margin-bottom: 15px;
    font-size: 28px;
    font-weight: 600;

}

.footer-col ul li {
    list-style: none;
    margin-bottom: 18px;
    font-size: 20px;
}


.footer-col ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
    
}

.footer-col ul li a:hover {
    color: #6a3f3f;
}
.vertical-line {
    width: 1px;          
    height: 100px;       
    background: #585858;    
}
.footer-col p {
    color: #ffffff;
    margin-bottom: 12px;
    line-height: 1.5;
    font-size: 20px;
}

.social-icons a {
    margin-right: 12px;
    font-size: 20px;
    color: #ccc;
    border: 1px solid #800080;
    padding: 5px;
    
}

.social-icons a:hover {
    color: #fff;
}

.newsletter {
    display: flex;
    margin-top: 10px;
    border: 1px solid #800080; 
}

.newsletter input {
    padding: 10px;
    width: 65%;
    border: none;
    outline: none;
   
    background-color: black;
}

.newsletter button {
    padding: 10px 20px;
    background: #800080;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}
@media (max-width: 1488px){
 #menuToggle:checked ~ .side-menu {
    right: 0;
    background-color:white;
    color: black;
   width:250px ;
   height: 60vh;
 }
}
@media (max-width: 1400px){
  
.col {
    align-items: center;
  }

  .col img {
    margin-left: 63px;
  }
}
@media (max-width: 1240px){
  
.col {
    align-items: center;
  }

  .col img {
    margin-left: 160px;
  }
}

@media (max-width: 1232px){
  .icons i{
   
    font-size: 18px;
  
  }
  .input-search{
    font-size: 12px;
  }
 nav a{
  font-size: 18px;
  margin: 0 22px;
 }


  .navbar {
    padding: 30px 10px;
  }
  .logo {
    margin-left: 0;
    font-size: 20px;
  }
  .col {
    align-items: center;
  }

  .col img {
    margin-left: 30px;
  }
}
@media (max-width: 1240px){
.row .col {
        flex: 0 0 calc(33.33% - 40px);
        height: auto;
        padding-bottom: 20px;

    }

    .col img {
       
        margin-left: 160px;
    }
    .col {
    align-items: center;
  }

  
}
@media (max-width: 1061px){
.row .col {
        flex: 0 0 calc(33.33% - 40px);
        height: auto;
        padding-bottom: 20px;

    }

   
    .col {
    align-items: center;
  }

  
}
@media (max-width: 1332px){
  
.col {
    align-items: center;
  }

  .col img {
    margin-left: 30px;
  }
}
@media (max-width: 1024px) {

  .navbar {
    padding: 30px 10px;
  }



  .hero {
    height: 600px;
    padding-left: 40px;
  }

  .hero-title {
    font-size: 44px;
  }

  .row .col {
    flex: 0 0 calc(33% - 40px);
    height: auto;
    padding-bottom:20px;
  }
  .col img {
        margin-left: 0;
        display: block;
        margin: 50px auto 20px;
        width: 150px;
    }
  .card {
    width: 32%;
    height: auto;
  }

  .feature-box {
    width: 30%;
  }
  .search-bar{
    width: 500px;
  }
}

@media (max-width: 768px) {
   .nav-links,
   
   
  .fa-user,

  .side-menu {
    display: none;
  }
 header{
    overflow: visible;
 }

  .menu-icon {
    display: block;
    cursor: pointer;
    font-size: 22px;
  }

  /* hidden by default */
  .mobile-menu {
    
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background: black;
    flex-direction: column;
    z-index: 99999;
   
  }

  .mobile-menu a {
    color: white;
    padding: 15px;
    text-decoration: none;
    border-bottom: 1px solid #333;
    text-align:center ;
  }

  /* visible when JS adds class */
  .mobile-menu.show {
    display: flex;
  }
  nav {
    display: none;
  }
.navbar{
  padding: 30px 20px;
}
.logo{
  margin-left: 0;
  font-size: 26px;
}

  .hero {
    height: 500px;
    padding-left: 30px;
  }

  .hero-title {
    font-size: 38px;
  }

  .row .col {
    flex: 0 0 calc(50% - 30px);
        height: auto;
  }

  .col img {
    width: 130px;
        margin-top: 40px;
  }

  .watch-discount {
    flex-direction: column;
    text-align: center;
  }

  .discount-offer h1 {
    font-size: 48px;
  }

  .card-desk {
    flex-direction: column;
    gap: 30px;
  }

  .card {
    width: 100%;
  }

  .features {
    flex-direction: column;
    gap: 40px;
  }

  .feature-box {
    width: 80%;
    text-align: center;
  }

   .footer-row {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .newsletter {
        flex-direction: column;
    }

    .newsletter input {
        width: 100%;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .newsletter button {
        width: 100%;
        border-radius: 5px;
    }
.vertical-line{
    display: none;
}
#searchIcon {
    display: inline-block;
    font-size: 22px;
    margin-right: 15px;
  }

  /* HIDE search bar */
 

  /* Move icons to left side */
 







  .icons {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  /* Search container positioning */
  .search-container {
    position: absolute;
    left: 10px;
    top: 25%;
    width: 100%;
    padding: 5px;
   
    transition: left 0.35s ease;
    z-index: 3000;
  }

  .search-container.active {
    left: 140px;
    
  }

  .search-bar {
    position: absolute;
    width: 130px;
    background: transparent;
    padding: 0;
    border: none;
 
  }
  .input-search {
    width: 100%;
    padding: 10px 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
  }


}


@media (max-width: 936px) {
.icons i{
   font-size: 18px;
 
  }
  .input-search{
    font-size: 12px;
  }
 nav a{
  font-size: 18px;
   margin: 0 22px;
 }
 
nav{
  margin-left: 30px;
}

  .navbar {
    padding: 30px 5px;
  }
  .logo {
    margin-left: 10px;
    font-size: 20px;
  }
}
@media (max-width: 855px) {
  .navbar{
      padding: 30px 1px;
  }
  
    nav {
       margin-left: 2px;
    }
    .icons{
      margin-right:20px ;
    }
  }




@media (max-width: 880px) {

  /* Keep navbar in one line */
  
  .col:hover .hover-buttons,
.col:hover .right-icons {
    display: flex;
}
}


@media (max-width: 600px) {

  .logo {
    font-size: 24px;
    margin-left: 20px;
  }

  .icons {
    margin-right: 20px;
  }

  .hero-title {
    font-size: 32px;
  }

  .hero-subtitle {
    font-size: 14px;
  }

 

  .discount-offer h1 {
    font-size: 38px;
  }

  .discount-offer p {
    font-size: 16px;
  }
}
@media (max-width: 480px) {

  .hero {
    height: 420px;
    padding-left: 20px;
  }

  .hero-title {
    font-size: 28px;
  }

  .hero-btn {
    width: 130px;
    font-size: 16px;
  }

  .store h3 {
    font-size: 32px;
    margin-left: 20px;
  }

  .col img {
    margin-left: 0;
    display: block;
    margin: auto;
  }

  .right-icons {
    right: 5px;
  }

  .footer-logo h2 {
    font-size: 28px;
  }
  .row .col {
        flex: 0 0 100%;
        height: auto;
    }

    .col img {
        width: 120px;
    }
}
@media (max-width: 379px) {

    .watch-discount {
        flex-direction: column;   /* move from side-by-side to top-bottom */
        text-align: center;
    }

    .slide {
        width: 260px;
        height: 260px;
        margin-bottom: 25px;      /* space below watch */
    }

    .slide img {
        width: 260px;
        padding: 10px;
    }

    .discount-offer {
        max-width: 100%;
    }

    .discount-offer h1 {
        font-size: 36px;
        line-height: 1.2;
    }

    .discount-offer p {
        font-size: 14px;
        margin-bottom: 30px;
    }

    .discount-offer .offer-btn {
        padding: 10px 22px;
        font-size: 14px;
    }
}
@media (max-width: 320px) {

  .hero-title {
    font-size: 24px;
  }

  .discount-offer h1 {
    font-size: 30px;
  }

  .feature-box i {
    font-size: 60px;
  }

  .footer-col h3 {
    font-size: 22px;
  }

  .footer-col p,
  .footer-col ul li {
    font-size: 16px;
  }
  .icons i{
    font-size:20px ;
  }
  .row .col {
    flex: 0 0 calc(100%);
    height: auto;
   }
   .navbar{
    padding: 30px 0;
   }
  }


